name: test-rclone

on:
  workflow_dispatch:
    inputs:
      source_path:
        description: 'Source GDrive Path (gdrive1:)'
        required: true
        default: 'VS_Stock/'
      destination_path:
        description: 'Destination OneDrive Path (1drive1:)'
        required: true
        default: 'Mirror'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Install rclone
        run: |
          sudo apt-get update
          sudo apt-get install -y rclone

      - name: Configure rclone
        env:
          RCLONE_CONFIG_BASE64: ${{ secrets.RCLONE_CONF_BASE64 }}
        run: |
          mkdir -p ~/.config/rclone
          echo $RCLONE_CONFIG_BASE64 | base64 --decode > ~/.config/rclone/rclone.conf
          
        
      - name: Run Rclone Sync
        run: |
          set -o pipefail
          echo "Starting rclone copy from gdrive1:${{ github.event.inputs.source_path }} to 1drive:${{ github.event.inputs.destination_path }}"
          rclone copy "gdrive1:${{ github.event.inputs.source_path }}" "1drive1:${{ github.event.inputs.destination_path }}" \
            --drive-server-side-across-configs=true \
            --transfers 32 \
            --checkers 32 \
            --verbose \
            --stats 10s \
            --stats-one-line \
            2>&1 | tee rclone_log.txt

      - name: Send Telegram Notification
        if: always()
        uses: appleboy/telegram-action@master
        with:
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          format: markdown
          message: |
            *Rclone Job Finished*
            Status: `${{ job.status }}`
            Source: `gdrive1:${{ github.event.inputs.source_path }}`
            Destination: `1drive:${{ github.event.inputs.destination_path }}`
            
